# certificates and keys
cert_and_keys/

# libs from remote repositories
src/lib

# build artifacts
build/
*.o
*.out
cmake-build-*/

# storage-service build artifacts
src/storage-service/CMakeFiles/
src/storage-service/CMakeCache.txt
src/storage-service/cmake_install.cmake
src/storage-service/storage_service

# watch-telemetry build artifacts
src/watch-telemetry-svc/CMakeFiles/
src/watch-telemetry-svc/cmake_install.cmake
src/watch-telemetry-svc/CMakeCache.txt
src/watch-telemetry-svc/watch_telemetry_local_test
src/watch-telemetry-svc/watch_telemetry_service

# scripts to push services to ecr
auto_scripts/

# environment
*.env
*.env.aws

# IDE
.vscode/
.idea/

# OS
.DS_Store