# EXAMPLE ENV for .env.aws (must have this file)
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
QUEUE_URL=https://sqs.us-east-1.amazonaws.com/YOUR_AWS_ID_HERE/YOUR_QUEUE_NAME_HERE